@use '../../variables' as *;
@use '../../mixins' as *;

.handwriting-canvas-card {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 100%;
}

.canvas-container {
  border: 2px solid $primary-color;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  overflow: hidden;
  touch-action: none;
  position: relative;
  height: 300px;
  width: 500px;
}

.grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.drawing-canvas {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M16 2 V6 M16 26 V30 M2 16 H6 M26 16 H30" stroke="black" stroke-width="2"/><circle cx="16" cy="16" r="4" fill="none" stroke="black" stroke-width="1"/></svg>') 16 16, crosshair;
  background-color: white;
  width: 100%;
  height: 100%;
}

.controls-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
