@use '../../variables' as *;
@use '../../mixins' as *;

.handwriting-canvas-card {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 100%;
}

.canvas-container {
  border: 2px solid $primary-color;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  overflow: hidden;
  touch-action: none;
  position: relative;
  height: 300px;
  width: 500px;
}

.grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.drawing-canvas {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4" fill="black" /></svg>') 8 8, crosshair;
  background-color: white;
  width: 100%;
  height: 100%;
}

.controls-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
