@use '../../variables' as *;
@use '../../mixins' as *;

.lyric-display-container {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  height: 100%;
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
}

.lyric-text {

  color: $text-primary;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  min-height: 10px;
  // Responsive font sizes
  font-size: 10px;
  @media (min-width: 600px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 26px;
  }
}

.active
{
  color: #fff;
}

.lrc { //hide scroll
  /* webkit */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* firefox */
  scrollbar-width: none;
  height: 100%;
}
