@use '../../variables' as *;
@use '../../mixins' as *;

.song-player-page {
  .song-player-container {
    margin-top: 40px;

    .song-player-content {
      .song-title {
        color: white;
        margin-bottom: 24px;
      }
      margin-top: 24px;
      background-color: black;
      border-radius: 8px;
    }
  }
}

.stack {
  align-items: center;
  justify-content: center;
}
