@use '../../variables' as *;
@use '../../mixins' as *;

.song-player-page {
  .song-player-container {
    margin-top: 40px;

    .song-player-content {
      .song-title {
        color: white;
        margin-bottom: 24px;
      }
      margin-top: 24px;
      background-color: transparent;
      border-radius: 8px;
      display: flex;

      .right-grid-parent {
        height: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: black;
        border-radius: 8px;
        overflow: auto;
        background: linear-gradient(45deg, #8a2be2, #e2e8f085);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
        
        .lrc-grid-parent {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          width: fit-content;
          overflow: auto;
          margin-top: 2px;
        }

        .tabs-grid-parent {
          display: flex;
          flex-direction: column;
          width: fit-content;
          height: fit-content;
        }
        
      }
    }
  }
}

.stack {
  align-items: center;
  justify-content: center;
}
