@use '../../variables' as *;
@use '../../mixins' as *;

.app-bar {
  // background-color: white !important;
  background: #ffffff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .toolbar {
    @include flex-center;
    justify-content: space-between;

    .title {
      flex-grow: 1;
      text-decoration: none;
      color: black;
    }

    .button-styles {
      color: black;
    }

    .avatar {
      cursor: pointer;
    }
  }
}