@use '../../variables' as *;
@use '../../mixins' as *;

.app-bar {
  // background-color: white !important;
  background: #ffffff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .toolbar {
    @include flex-center;
    justify-content: space-between;
    display: flex;
    width: 100%;

    .section {
      display: flex;
      align-items: center;
      margin-right: 32px;
    }

    .logo {
      height: 18px;
      width: auto;
      margin-right: 10px;
    }

    .title {
      flex-grow: 1;
      text-decoration: none;
      color: black;
      font-size: 18px;
    }

    .button-styles {
      color: black;
    }

    .avatar {
      cursor: pointer;
    }
  }
}

.report-button {
  background-color: $text-background !important;
  color: #FFFFFF !important;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #333333 !important;
  }

  .MuiSvgIcon-root {
    margin-right: 8px;
  }
}
